<div id="holds the three glfhs" class="row grad">
  <div class="col-lg-4">
      <div class="glfIcons">
        <i class="fa fa-sign-out"></i>
            <h3 class="robot">Add Order to Chain</h3>
            <p>Sales Person generates orders</p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="glfIcons"><i class="fa fa-tasks"></i>
        <h3 class="robot">Process Order in Chain</h3>
            <p>Sales Person generates orders</p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="glfIcons"><i class="fa fa-thumbs-up"></i>
          <h3 class="robot">Confirm Delivery</h3>
          <p>Sales Person generates orders</p>
      </div>
    </div>
</div>