<div class="col-lg-2 sidebar">
  <ul class="nav nav-pills nav-stacked">
    <li> <%= link_to  sales_new_order_path do %>
    	<i class="fa fa-plus"></i>&nbsp;Create new
    	<% end %>
    </li>
    <li> <%= link_to  sales_new_order_path do %>
    	<i class="fa fa-list"></i>&nbsp;All Orders
    	<% end %>
    </li>
    <li> <%= link_to  sales_new_order_path do %>
    	<i class="fa fa-check"></i>&nbsp;Completed Orders
    	<% end %>
    </li>
  </ul>
</div>