
  <!-- A vertical nav-bar -->
  <%= render :partial => '/shared/sidebar2' %>
  
   
<div class="row">

	<div class="col-lg-4">

		<%- model_class = Order -%>
		<div class="page-header">
		  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
		</div>

		<%= render :partial => '/shared/form1' %>

	</div>
	
	<div class="col-xs-6 col-md-3">
		<div class="page-header">
		  
		</div>
		<div class="panel panel-primary text-center panel-eyecandy">
            <div class="panel-body theme-color">
                <i class="fa fa-shopping-cart fa-3x"></i>
                    <h3>32 <i class="fa fa-arrow-circle-o-up"></i></h3>
            </div>
            <div class="panel-footer">
                <span class="panel-eyecandy-title">
                    Sales
                </span>
            </div>
        </div>


        <div class="panel panel-primary text-center panel-eyecandy">
            <div class="panel-body theme-color">
                <i class="fa fa-shopping-cart fa-3x"></i>
                    <h3>32 <i class="fa fa-arrow-circle-o-up"></i></h3>
            </div>
            <div class="panel-footer">
                <span class="panel-eyecandy-title">
                    Sales
                </span>
            </div>
        </div>


        <div class="panel panel-primary text-center panel-eyecandy">
            <div class="panel-body theme-color">
                <i class="fa fa-shopping-cart fa-3x"></i>
                    <h3>32 <i class="fa fa-arrow-circle-o-up"></i></h3>
            </div>
            <div class="panel-footer">
                <span class="panel-eyecandy-title">
                    Sales
                </span>
            </div>
        </div>
	</div>
</div>
