@font-face {

font-family: 'Lato';
src:font-url('Lato-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {

font-family: 'Oswald';
src:font-url('Oswald-Light.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {

font-family: 'Open Sans';
src:font-url('OpenSans.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {

font-family: 'Roboto Slab';
src:font-url('RobotoSlab-Light.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {font-family: 'Indie Flower', cursive;

font-family: 'Indie Flower';
src:font-url('IndieFlower.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}


$color1: #58595b;
$color2: rgb(86, 86, 86);
$color3: #81CFE0;
$color4: #52B3D9;
$color5: #e0e0e0;
$sidebartext:  rgb(198, 198, 198);

html,
body {
   margin:0;
   padding:0;
   height:100%;
}
.rot {
background-color: rgba(68, 68, 68, 0.71);
color: white;
font-family: RobotoSlab;
padding: 5%;
text-align: right;
}
.feature-icon {
    font-size: 40px;
    line-height: 100px;
    border: 1px solid #3071A9;
        border-top-width: 1px;
        border-right-width-value: 1px;
        border-right-width-ltr-source: physical;
        border-right-width-rtl-source: physical;
        border-bottom-width: 1px;
        border-left-width-value: 1px;
        border-left-width-ltr-source: physical;
        border-left-width-rtl-source: physical;
        border-top-style: solid;
        border-right-style-value: solid;
        border-right-style-ltr-source: physical;
        border-right-style-rtl-source: physical;
        border-bottom-style: solid;
        border-left-style-value: solid;
        border-left-style-ltr-source: physical;
        border-left-style-rtl-source: physical;
        border-top-color: #3071A9;
        border-right-color-value: rgb(48, 113, 169);
        border-right-color-ltr-source: physical;
        border-right-color-rtl-source: physical;
        border-bottom-color: #3071A9;
        border-left-color-value: rgb(48, 113, 169);
        border-left-color-ltr-source: physical;
        border-left-color-rtl-source: physical;
        -moz-border-top-colors: none;
        -moz-border-right-colors: none;
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        border-image-source: none;
        border-image-slice: 100% 100% 100% 100%;
        border-image-width: 1 1 1 1;
        border-image-outset: 0 0 0 0;
        border-image-repeat: stretch stretch;
    height: 100px;
    width: 100px;
    transition: all 0.6s ease 0s;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 50%;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
    color: #3071A9;
}

.loginpad{
  padding-top: 17%;
}

.body{
  background: url('/assets/isb.png');
  background-repeat: no-repeat;
}
.navbar-inverse {
border-color: #5E5656;
}

.ls-top-header {
margin-bottom: 15px;
margin-top: 5px;
}
h3 {
font-size: 20px;
}

.breadcrumb {
border-radius: 1px;
-moz-border-radius: 1px;
-webkit-border-radius: 1px;
background: #e0e0e0;
margin-bottom: 15px;
}
.breadcrumb {
padding: 8px 15px;
margin-bottom: 20px;
list-style: none;
background-color: #f5f5f5;
border-radius: 4px;
}
ul, ol {
margin-top: 0;
margin-bottom: 10px;
}
.footertext{
text-align: center;
margin-top: 20px;
font-family: 'Lato';
color: white;
font-style: italic;
}

#header {
   background:#ff0;
   padding:10px;
}
#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:$color1;
}

#container {
   min-height:100%;
   position:relative;
}
.signup
{
    text-align: center;
   background-color:  #252525;
}
.login-box {
width: 300px;
padding: 20px;
background: rgba(68, 68, 68, 0.71);
position: relative;
color: #999;
z-index: 1;
text-align: center;

}


.input-group-addon{
    background-color:#565656;
    border-color: #565656;
}
.login-box .login-form input{
background: #565656;
border: 1px solid #565656;
color: #999;
}
.ls-group-input {
margin-bottom: 15px;
}

.fa{
    color: $sidebartext;
margin-top: 0px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}/*
{margin: 5px}*/

span.status{
    display: block; 
    width: 10px; 
    height: 10px; 
    margin: 0.25em auto; 
    padding: 0; 
    border: 0px solid #000000;
    &.true{
        background: rgb(92, 184, 92); 
        color: rgb(92, 184, 92);
    }
    &.false {
        background: rgb(217, 83, 79); 
        color: red
    }
}

.main{
margin-top: 60px;
}

.navbar-inverse .navbar-brand{
    color: white;
}
.nav-side-menu li {
padding-left: 0px;}
#a {
color: #EDF3F9;
}
.grad {
	/*background: linear-gradient(to bottom, #4C9ED9, #B9D9F0);*/
    background: linear-gradient(to bottom, $color1, $color3);
    text-align: center;
}

.navbar-inverse .navbar-nav > li > a {
color: #F4EDED;
}

.robot{
    letter-spacing: 5px;    
    font-family: 'Roboto Slab';
    text-shadow: 0 0 1em white, 0 0 0.2em black;
}
.sidebar {
    font-family: 'Oswald';
    height: 800px;
    padding: 0px;
    
}
.profileimg{
    background-size: cover ;
    border-radius: 100px;
     -webkit-border-radius: 100px;
-moz-border-radius: 100px;

}
.imageholder{
    text-align: center;
    
}
table {
font-family: 'Lato', serif;
font-size: 15px;
}

hr {
margin-top: 0;
margin-bottom: 20px;
border: 0;
border-top: 1px solid $color3;
}

.page-header{
    margin: 0 0 20px;
}
.sidebar ul {
    li{
       background-color: $color2;
       color: $sidebartext;
        border-top: 0.1em solid $color2;
       line-height: normal;
       padding: 10px;
       .fa{
            display: inline;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            font-size: 1em;
            line-height: 0;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            margin-left: 10px;
            margin-top: 50px;

       }
       li:hover {
        background-color: #fff;
       } 
    }
}
h3 {
font-size: 20px;
text-align: center;
}

.newbtn {
margin-top: 10px;
}
.form-horizontal {
padding: 13px;
/*box-shadow: inset 0.3em 0.3em 0.9em rgb(211, 199, 226);*/
}

.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }